html, body {
  /* margin: auto !important; */
  /* padding: 0; */
}
canvas {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin: auto !important;
  position: absolute;
  top: 25%;
  left: 25%;
}
