<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="static/p5.js"></script>
        <script src="static/p5.sound.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/style.css" />
        <meta charset="utf-8" />
    </head>
    <body>
        <main></main>

        <form method="POST" action="/" enctype="multipart/form-data">
            <input type="file" id="fileInput" name="file" />
            <input type="submit" value="Upload" />
        </form>

        <script src="static/sketch.js"></script>
        <script src="static/Point.js"></script>
        <script src="static/boundary.js"></script>
        <script src="static/ray.js"></script>
        <script src="static/particle.js"></script>
    </body>
</html>
